// Place all the styles related to the matches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  width: 97%;
}

#match {
  width: 35%;
}

table {
  border: 2px solid black;
  border-collapse: collapse;
  padding: 10px;
  margin: 10px;
}

th {
  border: 2px solid black;
  padding: 0.8em;
}

tr {
  padding: 0.8em;
}

td {
  border: 1px solid black;
  text-align: center;
  padding: 0.4em;
}
